.product_views {
    min-width: 480px !important;
    max-width: 480px !important;
    float: right !important;
}

.product_views ul {
    float: right;
    list-style-type: none;
    width: 100%;
}

.product_views ul li a:hover {
    color: unset !important;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.product_views ul li {
    display: inline-block;
    float: right;
    width: 80%;
}

.product_views ul li a {
    text-decoration: none;
    border: none;
    color: #000;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    width: 100%;
    vertical-align: middle;
    font-size: 27px !important;
}

.product_views ul li a .price {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #5AAF0B;
}

.product_views ul li a .supplier {
    display: block;
    min-width: 280px;
    max-width: 280px;
    margin: 6px 0px;
    padding: 5px;
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    border-radius: 4px;
    background-color: transparent;
    float: right;
    font-size: 16px;
    font-weight: bold;
    color: #5AAF0B;
    border: 1px solid #5AAF0B;
}

.product_views ul li a .price {
    display: inline-block;
    font-size: 16px;
}

.product_views ul li:first-child a .supplier {
    background-color: #5AAF0B !important;
    color: #f1f1f1 !important;
    text-transform: uppercase;
}